<template>
  <div>
    <div class="rest">
      <!-- NOMBRE -->
      <p>
        <b>Nombre:</b>
        &nbsp;{{$store.state.ejecutivo.nombre}}
      </p>
      <!-- COREEO -->
      <p>
        <b>Correo:</b>
        &nbsp;{{$store.state.ejecutivo.correo}}
      </p>
      <!-- TELEFONO -->
      <p>
        <b>Teléfono:</b>
        &nbsp;
        <a
          :href="'tel:55'+$store.state.config.telefonoAS"
        >(55) {{$store.state.config.telefonoAS}}</a>
      </p>
    </div>
  </div>
</template>