<template>
  <div>
      <!-- TABLA -->
    <div class="container" id="elpotosi">
     <div class="card border-0">
        <div class="card-body py-2">
           <div class="row justify-content-center bg-white">
             <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center border rounded pt-3 shadow-cards">
                <div class="row">
                   <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 text-center">
                      <img class="img-fluid" style="max-width:150px;display:block;margin:0 auto;" src="/img/ELPOTOSI.svg" alt="Logo Aseguradora">
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 col-lg-2 col-xl-2 text-center">
                          <div class="col-12 px-0">
                            <span class="display-5 text-secondary">
                        <strong>
                        4.5
                        </strong>
                    </span>
                     </div>
                     <div class="col-12 px-0">
                        <i class="fa  fa-star  rating"></i>
                        <i class="fa  fa-star  rating"></i>
                        <i class="fa  fa-star  rating"></i>
                        <i class="fa  fa-star  rating"></i>
                        <i class="fa  fa-star  rating"></i>
                      </div>
                      <div class="col-12 px-0">
                        <strong class="text-secondary">Muy bueno</strong> 
                         </div>
                          </div>
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-none d-sm-none d-md-block">
                            <div class="">
                               <ul style="list-style:none;padding-left:0;font-size:12px;" class="pt-2">
                                <li><img src="/img/flecha.gif" alt="check" style="width:12px;"> Robo Total</li>
                                <li><img src="/img/flecha.gif" alt="check" style="width:12px;"> Daños a Terceros</li>
                                <li><img src="/img/flecha.gif" alt="check" style="width:12px;"> Gastos Médicos</li>
                                </ul>
                            </div>
                          </div>                   
                           <div class="col-6 col-sm-6 col-md-3 col-lg-2 col-xl-2 text-center mt-2">
                            <div class="display-6 font-weight-bold">
                              <span class="text-secondary lead float-none w-100">PRECIO</span> <br>
                           <span style="color:green;">{{$store.state.formData.precio | currency}}      </span>                                 
                              <span class="text-secondary lead float-none w-100" style="font-weight:bold;font-size:12px"></span><br>
                              <span class="text-secondary lead float-none w-100" style="font-size:10px;"></span> <br>
                              </div>                  
                          </div>                 
                           <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 pt-2">    
                          <a class="btn btn-secondary btn-block py-3 px-0 f15 font-weight-bold disabled" target="_blank" disabled="disabled" href="" rel="nofollow" role="button"><i class="fa fa-shopping-cart text-white pr-1"></i>
                               <span class="text-white">COMPRAR POR TELÉFONO</span> <i class="fa fa-chevron-right text-white pl-1"></i>
                                </a>
                               <div class="row">
                                  <a class="col-12 pt-3 text-center" data-toggle="collapse" href="#amplia-elpotosi" aria-expanded="false" aria-controls="amplia-thanks">
                                    Mas información<i class="fa fa-chevron-down"></i>
                                   </a>
                                </div> 
                                    </div>
                                     <div class="col-12">
                                    <!--<p class="style_p p-landing-qualitas   m-0 p-0" style="font-size:13px">*Precio aplicado pagando
                                           de contado, no aplica a msi</p>-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 py-0 bg-success-ligth">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse" id="amplia-elpotosi " style="">
                                <div class="card card-body p-0 border-0">
                                    <div class="container-fluid">
                                  <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                      <div class="table-responsive">
                                          <table class="table table-sm table-striped table-bordered table-hover" style="font-weight:bold;">
                                             <thead>
                                               <tr class="text-left" style="font-weight:bold;">
                                                 <th scope="col" >Cobertura</th>
                                                 <th scope="col" >Precio</th>
                                                 <th scope="col">Deducible</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                      <tr v-for="(item, index) in this.$store.state.cotizacion.Coberturas[0]" :key="index" class="text-left" style="font-weight:bold !important; color:gray;">
                                                        <th>{{item | showName}}</th>
                                                        <th>{{item | showSuma}}</th>
                                                        <th>{{item | showDeducible}}</th>
                                                      </tr>
                                                </tbody>            
                                          </table>                 
                                      </div>                      
                                     </div>                        
                                     </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
    
  </div>
</template>

<script>
export default {
  filters: {
    showName: function(value) {
      return value.substring(
        value.lastIndexOf("-N") + 2,
        value.lastIndexOf("-S")
      );
    },
    showSuma: function(value) {
      let value_aux = value.substring(
        value.lastIndexOf("-S") + 2,
        value.lastIndexOf("-D")
      );
      if (value_aux.indexOf(".") !== -1) {
        // Verifica si existe un punto en la suma
        if (value_aux.indexOf(".") === 1) {
          // Si el punto está en la posición 1 es V. Comercial y se sustituye por VALOR COMERCIAL
          return "VALOR COMERCIAL";
        } else if (value_aux.indexOf(".") !== value_aux.length - 2) {
          // Quita los decimales de Banorte
          return value_aux.substring(0, value_aux.indexOf("."));
          //  + "\nPOR EVENTO"
        }
        value_aux = value.substring(
          value.lastIndexOf("-S") + 2,
          value.lastIndexOf("-D") - 2
        ); // Quita los decimales de AFIRME
      }
      // Evita las palabras y los precios de GNP debido a que ya tienen el formato requerido
      if (!isNaN(parseInt(value_aux[0], 10)) && value_aux.indexOf("$") === -1) {
        if (value_aux.indexOf(",") !== -1) {
          // Evita los precios sin formato de comas
          return "$ " + value_aux;
        }
        if (value_aux.length > 3) {
          // Evita los montos que no son lo suficientemente largos para tener comas
          if (value_aux.length / 3 > 1 && value_aux.length / 3 <= 2) {
            // Se le agrega una coma
            value_aux =
              value_aux.substring(0, value_aux.length - 3) +
              "," +
              value_aux.substring(value_aux.length - 3, value_aux.length);
          } else if (value_aux.length / 3 > 2 && value_aux.length / 3 <= 3) {
            // Se le agrega dos comas
            value_aux =
              value_aux.substring(0, value_aux.length - 6) +
              "," +
              value_aux.substring(value_aux.length - 6, value_aux.length - 3) +
              "," +
              value_aux.substring(value_aux.length - 3, value_aux.length);
          }
        } else if (value_aux.length === 1) {
          if (value_aux[0] === "1") {
            // Cambia los 1's de MAPFRE por AMPARADA
            return "AMPARADA";
          } else if (value_aux[0] === "0") {
            // Cambia los 0's por NO APLICA
            return "NO APLICA";
          }
        }
        return "$ " + value_aux; // Regresa los precios con el formato requerido
      }
      return value_aux.toString().toUpperCase(); // Regresa las palabras en   mayúsculas
    },
    showDeducible: function(value) {
      let value_aux = value.substring(
        value.lastIndexOf("-D") + 2,
        value.lastIndex
      );
      if (value_aux.indexOf(".") !== -1) {
        // En caso de que haya decimales en el porcentaje
        value_aux = value_aux.substring(0, value_aux.indexOf("."));
        //   return value_aux + "%";
      }
      // ESTA VALIDACION ESTABA ANTES NO SE BIEN QUE HACIA PERO ESTABA
      // if (value_aux.indexOf(".") !== -1) {
      //   // En caso de que haya decimales en el porcentaje
      //   value_aux = value_aux.substring(0, value_aux.indexOf("."));
      //   return value_aux + "%";
      // }
      if (value_aux[0] !== "$" && !isNaN(parseInt(value_aux[1], 10))) {
        // Evita todos los que son dinero y los que son palabras
        if (value_aux.length > 3) {
          if (
            value_aux[0] === "0" &&
            value_aux[1] === "0" &&
            value_aux[2] === "0"
          ) {
            // Evita los tres ceros de Qualitas
            value_aux = value.substring(
              value.lastIndexOf("-D") + 5,
              value.lastIndex
            );
            if (value_aux[0] === "0") {
              // Si es cero se evita poner el signo de porcentaje
              return "NO APLICA";
            }
            return value_aux + " %";
          }
        } else if (value_aux[value_aux.length - 1] === "%") {
          // Evita colocar dos veces el signo de porcentaje
          return value_aux;
        } else {
          return value_aux + " %";
        }
      } else if (value_aux.length === 1) {
        // Verifica si solo es un caracter
        if (value_aux[0] === "0") {
          // Si es cero se sustituye por NO APLICA
          return "NO APLICA";
        }
        return value_aux + " %";
      } else if (value_aux.length === 0) {
        // Sustituye los espacios en blanco por NO APLICA
        return "NO APLICA";
      } else if (value_aux[0] !== "$") {
        return value_aux.toString().toUpperCase();
      }
      return value_aux;
    }
  }
};
</script>