<template>
<div>
<div class="card-body col-12">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row shake animated" style="background:/*#efefef*/#f6f4f0;border: 1px solid #e7e6e6;padding:10px;">
                    <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                        <img style="width:54px;height:auto;display:inline-block;" src="/img/amex.gif" alt="credit card">
                        <img style="width:90px;height:auto;display:inline-block;" src="/img/amex-gold.png" alt="credit card gold">
                    </div>
                    <div class="col-12 col-sm-12 col-md-10 col-lg-7">
                        <p style="font-size:20px;font-weight:bold;margin-bottom: 0.2rem;">Obtén tu tarjeta de crédito.
                            ¡Gratis, fácil y rápido!</p>
                        <span>Obtén $2,000 en monedero electrónico en Liverpool</span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3">
                        <a href="https://americanexpresstarjetas.com.mx/GoldElite?o=100287839&amp;utm_source=ahorracredit&amp;utm_medium=affiliates&amp;utm_campaign=affiliatesgoldgrcc1&amp;utm_content=goldgrcc" target="_blank" rel="nofollow" class="btn btn-block btn-primary mt-2" style="line-height:2;font-weight:bold;font-size:17px;">Solicitar aquí&nbsp;&nbsp;&nbsp;<svg class="svg-inline--fa fa-chevron-right fa-w-10" aria-hidden="true" data-fa-processed="" data-prefix="fa" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <i class="fa fa-chevron-right"></i> --></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</template>

<style>
  .fff{color:#fff!important;}
  .animated{-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
@-webkit-keyframes shake {
  from,
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%,30%,50%,70%,90% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  20%,40%,60%,80% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}}

@keyframes shake {
  from,
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%,30%,50%,70%,90% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  20%,40%,60%,80% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}}
  .shake {-webkit-animation-name: shake;animation-name: shake;}
</style>