*,body{font-family:Roboto,sans-serif;margin: 0;}
.bggray { background:#e9ebee;}
.font-color{color:#444444;}
.color-ahorra{color:#002764;}
.bg-elpotosi{background:#ae141e;}
.p-landing-elpotosi{color:#ae141e;display:none;}
.background-ciudad{background-color:transparent!important;background-size:contain;background-position:0 85%;background-repeat:no-repeat;background-image:url("../img/mexico-city.svg");}
/*.background-landing-auto{background-color:transparent!important;background-size:450px;background-position:70px 100px;background-repeat:no-repeat;background-image:url("../img/auto.svg")}*/
.background-landing-auto{background-color:transparent!important;background-size:360px;background-position:70px 230px;background-repeat:no-repeat;background-image:url("../img/elpotosi-car.svg")}*/
.card-promo {margin-top: 10px;height: auto;}
.im-c{height:22px;}

/*Formulario*/
.form {padding: 4px 5px;    }
.form select,.form input {color:#444444;height: 45px;border-radius: 5px;padding: 0 5px;}
.form select:focus,.form input:focus {box-shadow: 0 0 0 3px #007bff;}
.form select.is-invalid,.form input.is-invalid {box-shadow: 0 0 0 2px #ff0000;}
.checkBox {margin:0 auto;}
.checkBox label,
.checkBox b {font-size:10px;color: #1b1b1b;}
.check b {color: #556;}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {margin-top: -3px;}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {margin-top: -3px;}
.btnform {margin: auto;}
.btnform button {color: #fff;border-radius: 5px;width: 100%;height: 50px;font-size: 25px;padding: 5px 0;margin: 0 0 15px -1%;}
.circ-m{padding-left: 2.3rem;}
.form select, .form input {color: #444444;height: 45px;border-radius: 5px;padding: 0 5px;background-color: #f0f0f0;
}

/*====HEADER====*/
.logo-ahorra{max-width: 215px;}
.navbar-text{border:2px solid #fff;border-radius: 50px; height: 52px;width: 135px;}
  .span-svg {width: 20%;}
  .horarios { width: 80%;}
.img-phone { width: 25px;padding-bottom: 15px;padding-left: 5px;}
.atencion { font-size:10px}
.telefono { font-size: 13px; padding-left: 7px;}
.desc-text { font-size: 23px;}
.text-i{font-size:25px;color:#004c9c; }
.text-p{font-size: 25px; color: #004c9c; font-weight: 700; margin-bottom: 0;}
.height90{width: 330px;}
.color-landing-header {background:#004c9c; width: auto;}
.no-text-decoration{text-decoration:none}
.no-text-decoration:hover,
.no-text-decoration:active{text-decoration:none}
.line-height-1{line-height:1}
.img-nivel-min-width{min-width:154px!important}
.svg-tag{width: 35px!important;}
/*=================BACKGROUND JUMBOTRON =====================*/

.bg-accept {background-color: #f5f9ff!important;}
.abajodeBreadcrumbs{font-size: 1.5rem;text-align:center;font-weight:normal;padding-top: 50px;}
.abajodeBreadcrumbs2{font-size: 1.5rem;text-align:center;font-weight:normal;}
.abajodeBreadcrumbs strong{font-size: 1.3em;text-align:center;font-weight:bold;}
.line-height-1{line-height:1;}
.fa-3x{font-size:2.5em;}  
.fz-12{ font-size: 11px;}
.fa-fw {text-align: center;width: 1.25em;}
.jumbotron-fluid { position: relative; height: AUTO;}
.background-color-landing-elpotosi{background:#ae141e;
	background:-moz-linear-gradient(top,#ae141e 50%,#dd1e29 50%);
	background:-webkit-linear-gradient(top,#ae141e 50%,#dd1e29 50%);
	background:linear-gradient(to bottom,#ae141e 50%,#dd1e29 50%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#002764',endColorstr='#005AE5',GradientType=0)}
	.color-landing-elpotosi{color:#ae141e;}
.bg-info {background-color: #355B82 !important;}
.fa-angle-right{width: 5%;}
.fa-layers {display: inline-block;height: 1em;position: relative;text-align: center;vertical-align: -.125em;width: 1em;}
.fa-layers svg.svg-inline--fa {-webkit-transform-origin: center center;transform-origin: center center;}
.cotizarGratis{font-size: 22px;}
.genero{font-size: 16px;font: bolder;color:#444444;}
.height80 {width:75%;}
.modal-icon-leo {width: 110px;height: auto;display: block;margin: 0 auto;}
.promocard{ max-width: 1550px;}
.contenido{max-width: 1550px;}
.logo-elpotosi{
  width: 132px; padding-left: 10px  ;
}

/* Área Jumbotron*/
.fa-car { width:80%;height: 80%;align-content: right;}
.fa-layers svg.svg-inline--fa { bottom: 0;left: 0;margin: auto;position: absolute;right: 0;top: 0;}
svg:not(:root).svg-inline--fa {overflow: visible;}
.svg-inline--fa.fa-w-16 {width: 1em;}
.svg-inline--fa {display: inline-block;font-size: inherit;height: 1em;overflow: visible;vertical-align: -.125em;}
svg {overflow: hidden;vertical-align: middle;}*, *::before, *::after { -webkit-box-sizing: border-box;box-sizing: border-box;}
svg:not(:root) {overflow: hidden;}
.fa-layers-counter{position: absolute;margin-left: 5px;font-size: 9px;border-radius: 1em;margin-bottom: 80px;text-align: left;padding: 2px;}
.style_p{color:#aeaeae;text-transform: uppercase;font-size: 0.7rem;padding: 10px 0px;float: left;}
.astesrik{font-size: 30px;float: right;}
li#menu-item-15625::after{content:'nuevo';display:block;}
span.pussy{position:absolute;float:left;top:-10px;right:160px;text-align:center;text-transform:uppercase;font-size:8px !important;padding:0px 6px;background:#4bd54b;color:#fff!important;border-radius:7px;line-height:2.3;}
.modal-icon-leo{width:110px;height:auto;display:block;margin:0 auto;}
.card-body-ajustes-promo{padding:0.25rem;}
.tag-badget { width: 50%; padding-right: 0;}
.btn-cotizar{height: 60px;;}
#return-to-top {position:fixed;bottom: 20px;right: 20px;background-color:#ffffff;width:150px;height: 50px;display:none;text-decoration: none;-webkit-border-radius: 35px;-moz-border-radius: 35px;border-radius: 35px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;padding:10px 5px;text-align:center;padding:10px 0;border:2px solid;}
#return-to-top:hover {background:#dadada;}
fieldset[disabled] .multiselect{pointer-events:none}.multiselect__spinner{position:absolute;right:1px;top:1px;width:48px;height:35px;background:#fff;display:block}.multiselect__spinner:after,.multiselect__spinner:before{position:absolute;content:"";top:50%;left:50%;margin:-8px 0 0 -8px;width:16px;height:16px;border-radius:100%;border:2px solid transparent;border-top-color:#044f99;box-shadow:0 0 0 1px transparent}.multiselect__spinner:before{animation:spinning 2.4s cubic-bezier(.41,.26,.2,.62);animation-iteration-count:infinite}.multiselect__spinner:after{animation:spinning 2.4s cubic-bezier(.51,.09,.21,.8);animation-iteration-count:infinite}.multiselect__loading-enter-active,.multiselect__loading-leave-active{transition:opacity .4s ease-in-out;opacity:1}.multiselect__loading-enter,.multiselect__loading-leave-active{opacity:0}.multiselect,.multiselect__input,.multiselect__single{font-family:inherit;font-size:16px;-ms-touch-action:manipulation;touch-action:manipulation}.multiselect{box-sizing:content-box;display:block;position:relative;width:100%;min-height:40px;text-align:left;color:#35495e}.multiselect *{box-sizing:border-box}.multiselect:focus{outline:none}.multiselect--disabled{background:#ededed;pointer-events:none;opacity:.6}.multiselect--active{z-index:50}.multiselect--active:not(.multiselect--above) .multiselect__current,.multiselect--active:not(.multiselect--above) .multiselect__input,.multiselect--active:not(.multiselect--above) .multiselect__tags{border-bottom-left-radius:0;border-bottom-right-radius:0}.multiselect--active .multiselect__select{transform:rotate(180deg)}.multiselect--above.multiselect--active .multiselect__current,.multiselect--above.multiselect--active .multiselect__input,.multiselect--above.multiselect--active .multiselect__tags{border-top-left-radius:0;border-top-right-radius:0}.multiselect__input,.multiselect__single{position:relative;display:inline-block;min-height:20px;line-height:20px;border:none;border-radius:5px;background:#fff;padding:0 0 0 5px;width:100%;transition:border .1s ease;box-sizing:border-box;margin-bottom:8px;vertical-align:top}.multiselect__input:-ms-input-placeholder{color:#35495e}.multiselect__input::placeholder{color:#35495e}.multiselect__tag~.multiselect__input,.multiselect__tag~.multiselect__single{width:auto}.multiselect__input:hover,.multiselect__single:hover{border-color:#cfcfcf}.multiselect__input:focus,.multiselect__single:focus{border-color:#a8a8a8;outline:none}.multiselect__single{padding-left:5px;margin-bottom:8px}.multiselect__tags-wrap{display:inline}.multiselect__tags{min-height:40px;display:block;padding:8px 40px 0 8px;border-radius:5px;border:1px solid #e8e8e8;background:#fff;font-size:14px}.multiselect__tag{position:relative;display:inline-block;padding:4px 26px 4px 10px;border-radius:5px;margin-right:10px;color:#fff;line-height:1;background:#044f99;margin-bottom:5px;white-space:nowrap;overflow:hidden;max-width:100%;text-overflow:ellipsis}.multiselect__tag-icon{cursor:pointer;margin-left:7px;position:absolute;right:0;top:0;bottom:0;font-weight:700;font-style:normal;width:22px;text-align:center;line-height:22px;transition:all .2s ease;border-radius:5px}.multiselect__tag-icon:after{content:"\D7";color:#266d4d;font-size:14px}.multiselect__tag-icon:focus,.multiselect__tag-icon:hover{background:#369a6e}.multiselect__tag-icon:focus:after,.multiselect__tag-icon:hover:after{color:#fff}.multiselect__current{min-height:40px;overflow:hidden;padding:8px 30px 0 12px;white-space:nowrap;border-radius:5px;border:1px solid #e8e8e8}.multiselect__current,.multiselect__select{line-height:16px;box-sizing:border-box;display:block;margin:0;text-decoration:none;cursor:pointer}.multiselect__select{position:absolute;width:40px;height:38px;right:1px;top:1px;padding:4px 8px;text-align:center;transition:transform .2s ease}.multiselect__select:before{position:relative;right:0;top:65%;color:#999;margin-top:4px;border-color:#999 transparent transparent;border-style:solid;border-width:5px 5px 0;content:""}.multiselect__placeholder{color:#adadad;display:inline-block;margin-bottom:10px;padding-top:2px}.multiselect--active .multiselect__placeholder{display:none}.multiselect__content-wrapper{position:absolute;display:block;background:#fff;width:100%;max-height:240px;overflow:auto;border:1px solid #e8e8e8;border-top:none;border-bottom-left-radius:5px;border-bottom-right-radius:5px;z-index:50;-webkit-overflow-scrolling:touch}.multiselect__content{list-style:none;display:inline-block;padding:0;margin:0;min-width:100%;vertical-align:top}.multiselect--above .multiselect__content-wrapper{bottom:100%;border-bottom-left-radius:0;border-bottom-right-radius:0;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom:none;border-top:1px solid #e8e8e8}.multiselect__content::webkit-scrollbar{display:none}.multiselect__element{display:block}.multiselect__option{display:block;padding:12px;min-height:40px;line-height:16px;text-decoration:none;text-transform:none;vertical-align:middle;position:relative;cursor:pointer;white-space:nowrap}.multiselect__option:after{top:0;right:0;position:absolute;line-height:40px;padding-right:12px;padding-left:20px;font-size:13px}.multiselect__option--highlight{background:#044f99;outline:none;color:#fff}.multiselect__option--highlight:after{content:attr(data-select);background:#044f99;color:#fff}.multiselect__option--selected{background:#f3f3f3;color:#35495e;font-weight:700}.multiselect__option--selected:after{content:attr(data-selected);color:silver}.multiselect__option--selected.multiselect__option--highlight{background:#ff6a6a;color:#fff}.multiselect__option--selected.multiselect__option--highlight:after{background:#ff6a6a;content:attr(data-deselect);color:#fff}.multiselect--disabled .multiselect__current,.multiselect--disabled .multiselect__select{background:#ededed;color:#a6a6a6}.multiselect__option--disabled{background:#ededed!important;color:#a6a6a6!important;cursor:text;pointer-events:none}.multiselect__option--group{background:#ededed;color:#35495e}.multiselect__option--group.multiselect__option--highlight{background:#35495e;color:#fff}.multiselect__option--group.multiselect__option--highlight:after{background:#35495e}.multiselect__option--disabled.multiselect__option--highlight{background:#dedede}.multiselect__option--group-selected.multiselect__option--highlight{background:#ff6a6a;color:#fff}.multiselect__option--group-selected.multiselect__option--highlight:after{background:#ff6a6a;content:attr(data-deselect);color:#fff}.multiselect-enter-active,.multiselect-leave-active{transition:all .15s ease}.multiselect-enter,.multiselect-leave-active{opacity:0}.multiselect__strong{margin-bottom:8px;line-height:20px;display:inline-block;vertical-align:top}[dir=rtl] .multiselect{text-align:right}[dir=rtl] .multiselect__select{right:auto;left:1px}[dir=rtl] .multiselect__tags{padding:8px 8px 0 40px}[dir=rtl] .multiselect__content{text-align:right}[dir=rtl] .multiselect__option:after{right:auto;left:0}[dir=rtl] .multiselect__clear{right:auto;left:12px}[dir=rtl] .multiselect__spinner{right:auto;left:1px}@keyframes spinning{0%{transform:rotate(0)}to{transform:rotate(2turn)}}
.multiselect__tags{background:#f0f0f0;background-color:#f0f0f0;}
.multiselect__placeholder{color:#495057;display:inline-block;margin-bottom:10px;padding-top:2px;}
.input__placeholder{color:#495057; }
.border-success{border-color:#d9f7e1!important;}
.border-success-ligth{border:1px solid #d9f7e1!important;}
svg:not(:root).svg-inline--fa {overflow: visible}
.svg-inline--fa.fa-w-18 { width: 1.125em;}
.staryu {font-size: 10px;}
.text-warning {color: #ffc107 !important;}
.text-white {color: #fff !important;}
.pCero {padding: 0 !important;}
.img-svg{display:inline-block;}
ul  li {
list-style: none;
text-decoration: none;
}

/*=====Card Info Adicional ====*/
.paddTitles{padding:0 0 25px;}
.bgColorgris{background-color:#FBFBFB;background-color:#fff;padding:20px;background:#fff!important;box-shadow:5px 2px 20px 1px #eae9e9!important;}
.img_vargasdesignmx{max-width:110px;margin:15px 0;display:block;}
.vargasdesignmx{margin:15px auto 0;font-size:20px !important;color:#044f99 !important;font-weight:bolder;}
.ttlefoot{margin:20px auto 2rem;}
.imggoogle{width:60px;height:auto;margin:0px auto 0;}
.txtColorGray2{color:#436998;}
.average{display:inline-block;float:left;margin:0.5rem;line-height:0.8;}
span.votes{font-size:0.5em;}
.rating {border:none!important;float:inherit!important;}
.rating > .nocolor {color:#ddd!important;}
.rating > .sicolor{color:#FFD700!important;}
/*===========FOOTER===========*/
.heightFoot {padding:40px 0;font-size: 14px;}
li.lio {display:inline-flex;} 
li.lio a {margin: 0px 0px 10px;display: block;color: #9e9e9e;}
li.lio a:hover{margin: 0px 0px 10px;display: block;color: #9e9e9e;}
.footer {background: #004c9c;color:#fff;}
.text-footer{display: inline-block;padding-top: 18px;}
.botonTop {background-color:#fff;position: fixed;bottom: 2rem;right: 2rem;text-decoration: none;padding: 15px;border-radius: 25px;z-index: 1;-webkit-transition: all 0.3s linear;border:1px solid #004c9c;
  -moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}
.botonTop i {color: #004c9c;font-size: 16px;padding: 0;margin: 0;}
.botonTop span {color:#004c9c;font-size: 16px;}
/*========HeightFood ======*/
.copiando-a-rastreator {background: #fff;box-shadow: 0px -3px 10px #eae9e9;}
.bg-gray{background: #E9EBEE;}
.bg-accept {background-color: #f5f9ff!important;}

/***********************MEDIA QUERIES******/
@media (min-width: 1281px) and (max-width: 1440px) {
  .genero{font-size: 10px;font: bolder; padding-top: 5px;}
  .logo-elpotosi {width: 141px;}
  .tag-badget { width: 63%;padding-right: 0;}
  .genero{font-size: 16px;}
  .text-i {font-size: 20px;}
  .height90{width: 168xpx;}
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .genero{font-size: 10px;font: bolder; padding-top: 5px;}
  .logo-elpotosi {width: 115px;}
  .tag-badget { width: 63%;padding-right: 0;}
  .genero{font-size: 16px;}
  .text-i {font-size: 20px;}
  .height90{width: 168px;}
} 
  /* ##Device = Tablets, Ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) {
.background-landing{background-color:transparent!important;background-size:523px;background-position:-70px 50px;background-repeat:no-repeat;background-image:url("../img/auto.svg")}
.descuentos{font-size: 19px;} 
.card-form { width: 110%;}
.card-aseguradora {widows: 100%;height: auto;padding: 10px;}
.text-i{font-size: 14px;  }
.text-p{font-size: 17px;  }
.background-landing{background-position:-70px 130px;}
.cotizarGratis{font-size: 18px;}
.genero{font-size: 16px;}
.tag-badget {width: 68%;padding-right: 0;}
.mNegativo{margin:-3.4rem auto 0;}
.height90{width: 168px;}
.img-tag {width: 30px;}
.logo-elpotosi {width: 107px;text-align: center;padding-left: 10px;padding-top: 5px;}
}
@media (min-width: 481px) and (max-width: 767px) { 
.background-landing{background-color:transparent!important;background-size:523px;background-position:-70px 40px;background-repeat:no-repeat;background-image:url("../img/auto.svg")}
.descuentos {font-size: 16px;}
.logo-elpotosi {width: 147px;padding-left: 10px;}
.abajodeBreadcrumbs {font-size:18px;margin: 0;padding: 0;}
.abajodeBreadcrumbs strong {display: none;}
.vargasdesignmx {text-align: center;}
.imggoogle {margin-left: 30px!important;}
.cotizarGratis{font-size: 28px;align-content: center;}
.height90{width: 150px;}
.tag-badget {width: 48%; padding-right: 0;}
.mNegativo{margin:0 auto;}
}
@media (min-width: 321px) and (max-width: 480px) {
  .navbar-text{ width: 127px; height: 45px;}
  .atencion{ font-size:9px}
  .telefono{ font-size: 11px !important;}
  .span-svg {width: 20%;padding-right: 5px!important;}
  .horarios { width: 80%;}
  .logo-ahorra{width:130px;}
.img-phone { width: 25px;margin-bottom: 10px;}
.img-tag{width: 23px;}
.abajodeBreadcrumbs {font-size:18px;margin: 0;padding: 0;}
.seguro-auto{display: none; font-size: 1.8rem;}
.logo-elpotosi {width: 130px;padding-left: 10px;}
.descuentos{ font-size: 16px;}
.datos-c{font-size: 12px;}
.cotizarGratis {font-size: 18px;}
.checkBox label, .checkBox b {font-size:10px;margin-left: 0px;}
.lead{font-size: 10px;}
.form select, .form input {height:45px;font-size: 15px;}
.title-content {font-size: 19px;}
.desc-text{font-size: 18px;}
.text-i{font-size: 16px;  }
.text-p{font-size: 21px;  }
.circ-m{padding-left: 2.5rem;}
.mNegativo{margin:0 auto;}
.height90 {width: 150px;}
}

@media (min-width: 240px) and (max-width: 320px) {
  .navbar-text{ width: 125px; height: 45px;}
  .atencion{ font-size:9px}
  .telefono{ font-size: 12px !important;padding-left: 2px;}
  .span-svg {width: 20%;}
  .horarios { width: 80%;}
  .svg-tag{width: 35px!important;}
  .abajodeBreadcrumbs {font-size:18px;margin: 0;padding: 0;}
  .seguro-auto{display: none; }
  .img-contact{width: 20%;}
  .logo-ahorra{ width:150px;margin-left: 0px; display: block;}
  .logo-elpotosi {width: 175%;}  
  .descuentos{ font-size: 16px;}
  .datos-c{font-size: 12px;}
  .cotizarGratis {font-size: 12px;}
  .checkBox label, .checkBox b {font-size:10px;margin-left: 0px;}
  .lead{font-size: 10px;}
  .form select, .form input {color:#495057;height:45px;font-size: 15px;}
  .title-content {font-size: 19px;}
  .desc-text{font-size: 15px;}
  .text-i{font-size: 14px;  }
  .text-p{font-size: 15px;  }
  .circ-m{padding-left: 2.3rem;}
  .mNegativo{margin:0 auto;}
  .height90 {width: 150px;}
}







