<template>
<div>
<div id="notificationLeo" class="container-fluid bgalert">
  <div class="container alert" role="alert" style="border:none;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="position: absolute;top:0;right:0;z-index:2;">
            <span aria-hidden="true" style="z-index:1;position:relative;">&times;</span>
        </button>
    <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
    <div class="media">
      <div class="row">
      <div class="media-left col-3 col-md-1 col-lg-1 d-none d-sm-block d-md-block d-lg-block d-xl-block">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10px" height="5.4px" viewBox="0 0 100 54.50508" style="width:50px;height:auto;display:block;float:right;padding:0px 0;">
<g>
  <g>
    <path fill="#fff" d="M63.38758,27.0663c-0.55118-0.30336-1.09501-0.63553-1.61615-0.98761l-8.42568-5.69199
      c-2.55713-1.72758-5.54005-2.64061-8.626-2.64061H29.25488c-4.105,0-7.96742,1.59572-10.87593,4.49306
      c-1.49495,1.48953-3.19808,2.73544-5.06205,3.70332c-1.10235,0.57248-1.78713,1.69911-1.78713,2.9403
      c0,1.82782,1.48692,3.31474,3.31474,3.31474h5.27249c0.70346,0,1.27385-0.57038,1.27385-1.27385
      c0-0.70347-0.57038-1.27385-1.27385-1.27385h-5.27249c-0.42299,0-0.76721-0.34422-0.76721-0.76721
      c0-0.28659,0.1584-0.54681,0.41356-0.67919c2.09415-1.08733,4.00737-2.48692,5.68605-4.15948
      c2.42755-2.41846,5.65147-3.7503,9.0778-3.7503h3.46231v9.35618h-4.23197c-0.70346,0-1.27385,0.57038-1.27385,1.27385
      c0,0.70347,0.57039,1.27385,1.27385,1.27385h34.92838c1.04716,0,1.89907-0.85191,1.89907-1.89907
      C65.31251,28.95751,64.57481,27.71894,63.38758,27.0663z M35.26507,29.64998v-9.35618h9.45485
      c2.57582,0,5.06554,0.76215,7.19986,2.204l8.42568,5.69199c0.58506,0.39522,1.19543,0.76826,1.81472,1.10881
      c0.16032,0.0882,0.29462,0.2094,0.39557,0.35138H35.26507z"/>
  </g>
</g>
<g>
  <g>
    <path fill="#fff" d="M38.42123,34.13395h-3.93472c-0.70346,0-1.27385,0.57038-1.27385,1.27385s0.57039,1.27385,1.27385,1.27385h3.93472
      c0.70346,0,1.27385-0.57038,1.27385-1.27385C39.69508,34.70433,39.12469,34.13395,38.42123,34.13395z"/>
  </g>
</g>
<g>
  <g>
    <path fill="#fff" d="M71.76488,25.55982l-1.69055-0.33619c-2.33324-0.46403-4.60797-1.87218-6.1162-2.89122l-8.4255-5.69181
      c-3.20559-2.16541-6.94453-3.31002-10.81289-3.31002H29.25505c-5.14587,0-9.98752,2.00019-13.63286,5.63191
      c-2.30669,2.29814-5.21032,3.86556-8.39704,4.53305l-1.82887,0.38299c-2.71885,0.56935-4.69215,2.99899-4.69215,5.77687v12.33682
      c0,1.47155,0.86885,2.8088,2.21378,3.40643l5.07375,2.255c0.30685,1.60445,1.07982,3.1366,2.31944,4.37622
      c1.64741,1.64742,3.81142,2.47121,5.97561,2.47121c2.16418,0,4.32802-0.8238,5.97561-2.47121
      c1.05956-1.05956,1.7763-2.33324,2.1544-3.68271H66.7217c0.37811,1.34947,1.09502,2.62315,2.15458,3.68271
      c1.59625,1.59607,3.71817,2.47522,5.97561,2.47522c2.25727,0,4.37954-0.87898,5.97578-2.47522
      c1.05956-1.05956,1.7763-2.33324,2.1544-3.68271h2.41654c2.60446,0,4.72341-2.11895,4.72341-4.72341v-6.60712
      c-0.00035-1.3926-0.38037-2.75902-1.09903-3.95184l-0.40237-0.66784c-1.51643-2.51644-4.03881-4.28837-6.92026-4.86156
      l-3.28871-0.65404 M75.86413,26.37471l-1.55154-0.3086 M20.4607,50.22858c-1.11493,1.11493-2.5973,1.72897-4.17416,1.72897
      c-1.57686,0-3.05923-0.61405-4.17416-1.72897c-1.78853-1.78852-2.18636-4.44817-1.19544-6.62528
      c0.00803-0.01747,0.01572-0.0351,0.02375-0.05257c0.03021-0.06462,0.06217-0.12854,0.09483-0.19211
      c0.01537-0.03004,0.03074-0.0599,0.04681-0.08959c0.02951-0.05519,0.06025-0.11002,0.09169-0.16451
      c0.02166-0.03754,0.04384-0.07475,0.06636-0.11177c0.02917-0.04802,0.05868-0.09588,0.08942-0.14321
      c0.02777-0.04279,0.05641-0.08505,0.0854-0.12714c0.02864-0.04174,0.05711-0.08366,0.0868-0.12469
      c0.03406-0.04698,0.06951-0.09308,0.10514-0.13919c0.02777-0.03597,0.05484-0.0723,0.08348-0.10775
      c0.04191-0.05187,0.08575-0.10252,0.12941-0.15316c0.02497-0.02882,0.0489-0.05833,0.0744-0.0868
      c0.06497-0.07213,0.13186-0.14286,0.20067-0.21219c0.00594-0.00594,0.01135-0.01223,0.01729-0.01817
      c0.0131-0.0131,0.02689-0.02532,0.04017-0.03824c0.05833-0.05729,0.11701-0.11387,0.17691-0.16819
      c0.01554-0.01414,0.03196-0.02724,0.04768-0.04121c0.05973-0.05292,0.1198-0.10548,0.18128-0.15561
      c0.00576-0.00472,0.01188-0.00908,0.01764-0.0138c2.15912-1.74731,5.27319-1.74522,7.42969,0.00698
      c0.00245,0.00209,0.00506,0.00385,0.00768,0.00594c0.06584,0.05362,0.13028,0.10985,0.19438,0.16678
      c0.01153,0.01013,0.0234,0.01973,0.03475,0.03004c0.07405,0.06689,0.1467,0.13588,0.21795,0.20713
      c0.07684,0.07684,0.15089,0.15596,0.22285,0.23612c0.03161,0.03528,0.06148,0.07143,0.09204,0.10723
      c0.03737,0.04366,0.07492,0.0875,0.1109,0.13203c0.04034,0.05012,0.07929,0.10112,0.11771,0.15211
      c0.02166,0.02847,0.04314,0.05711,0.06409,0.08593c0.04663,0.06427,0.09204,0.12923,0.13587,0.19508
      c0.00751,0.01118,0.01484,0.02253,0.02218,0.03371C22.72461,45.11118,22.46963,48.21948,20.4607,50.22858z M79.02587,50.22858
      c-1.1151,1.11493-2.59747,1.72897-4.17433,1.72897s-3.05905-0.61405-4.17398-1.72897
      c-2.00928-2.0091-2.26425-5.11793-0.76564-7.40646c0.00716-0.011,0.01432-0.02201,0.02166-0.03283
      c0.04383-0.06601,0.08942-0.13116,0.13622-0.19578c0.02078-0.02864,0.04209-0.05693,0.06358-0.08505
      c0.0386-0.05135,0.07772-0.10252,0.11841-0.15299c0.0358-0.04418,0.07283-0.0875,0.11003-0.13081
      c0.03091-0.03615,0.06113-0.07283,0.09308-0.10828c0.07195-0.08017,0.146-0.1591,0.22285-0.23595
      c1.11493-1.11493,2.59713-1.72897,4.17398-1.72897c1.57686,0,3.05923,0.61404,4.17416,1.72897
      c0.07684,0.07684,0.15089,0.15596,0.22285,0.23611c0.03178,0.03528,0.06165,0.07161,0.09238,0.10758
      c0.03738,0.04348,0.07475,0.08715,0.11055,0.1315c0.04052,0.0503,0.07946,0.10129,0.11806,0.15246
      c0.02148,0.02847,0.04296,0.05693,0.06392,0.08575c0.04663,0.06444,0.09222,0.12923,0.13588,0.19508
      c0.00751,0.01118,0.01484,0.02235,0.02218,0.03353C81.28978,45.111,81.0348,48.21966,79.02587,50.22858z M87.57451,43.62374
      h-0.00035c0,1.1998-0.97608,2.17588-2.17589,2.17588h-2.09712c-0.04995-1.84756-0.70206-3.61023-1.87567-5.05541
      c-0.00786-0.00978-0.01537-0.01991-0.0234-0.02969c-0.07265-0.08854-0.14793-0.17534-0.22442-0.26162
      c-0.01956-0.02201-0.03807-0.04471-0.05781-0.06671c-0.08103-0.08924-0.16486-0.17674-0.25009-0.26302
      c-0.0145-0.01467-0.02777-0.03004-0.04244-0.04454c-1.09746-1.09728-2.44344-1.85576-3.91097-2.22252
      c-0.66714-0.16678-1.35925-0.25254-2.06481-0.25254c-0.56427,0-1.12016,0.05501-1.66156,0.16224
      c-1.62401,0.32204-3.11687,1.1158-4.31404,2.31281c-0.01432,0.01432-0.02742,0.02934-0.04156,0.04384
      c-0.08558,0.0868-0.16975,0.17447-0.25097,0.26406c-0.01921,0.02113-0.03703,0.04314-0.05589,0.06444
      c-0.07719,0.08697-0.15334,0.17464-0.22652,0.26406c-0.00733,0.00891-0.01414,0.01817-0.02148,0.02724
      c-1.17448,1.44535-1.8273,3.20908-1.87742,5.05751H24.73598c-0.05012-1.8507-0.70434-3.61652-1.88179-5.0631
      c-0.00541-0.00681-0.01065-0.01362-0.01607-0.02044c-0.07684-0.09396-0.15666-0.18599-0.23787-0.27716
      c-0.01502-0.01677-0.02899-0.03405-0.04418-0.05082c-0.09518-0.10497-0.19298-0.20835-0.2941-0.30947
      c-0.41181-0.41181-0.8561-0.77227-1.32432-1.08122c-1.40518-0.92666-3.02815-1.38999-4.65111-1.38999
      c-2.16401,0-4.32819,0.8238-5.97561,2.47121c-0.09413,0.09413-0.18512,0.19071-0.27419,0.28851
      c-0.02637,0.02899-0.05169,0.0585-0.07772,0.08767c-0.06287,0.07108-0.1247,0.14286-0.18495,0.21551
      c-0.02672,0.03231-0.05344,0.06479-0.07964,0.09762c-0.06235,0.07772-0.12312,0.15631-0.1825,0.23577
      c-0.01851,0.0248-0.03755,0.04908-0.05554,0.07405c-0.15962,0.21848-0.30772,0.44377-0.44464,0.67483
      c-0.00384,0.00646-0.00751,0.0131-0.01135,0.01956c-0.06689,0.11369-0.13098,0.22896-0.19228,0.34544
      c-0.00175,0.00332-0.00349,0.00681-0.00541,0.01013c-0.44412,0.8451-0.74276,1.75919-0.87968,2.70733l-3.97017-1.7646
      c-0.42578-0.18932-0.70085-0.61265-0.70085-1.07842V29.65539c0-1.57896,1.12174-2.95986,2.66716-3.28365l1.82887-0.38299
      c3.67101-0.76896,7.01578-2.5746,9.67281-5.22167c3.16454-3.15284,7.36752-4.88915,11.83473-4.88915h15.46469
      c3.35822,0,6.60397,0.99372,9.38675,2.87341l8.4255,5.69181c1.69072,1.14234,4.26061,2.72496,7.0453,3.27893l11.62603,2.31193
      c2.1799,0.43364,4.08788,1.77403,5.23512,3.67765l0.40238,0.66784c0.47974,0.79585,0.73315,1.70784,0.73315,2.63712V43.62374z"/>
  </g>
</g>
<g>
  <g>
    <path fill="#fff" d="M19.02129,43.31985c-0.73071-0.73054-1.70173-1.13274-2.73475-1.13274c-1.03302,0-2.00421,0.40237-2.73457,1.13274
      c-0.73036,0.73036-1.13274,1.70155-1.13274,2.73457s0.40238,2.00421,1.13274,2.73457
      c0.73036,0.73036,1.70155,1.13274,2.73475,1.13274c1.03302,0,2.00421-0.40221,2.73457-1.13274
      C20.52917,47.28112,20.52917,44.82773,19.02129,43.31985z M17.21967,46.98755c-0.24922,0.24921-0.58069,0.38649-0.93312,0.38649
      c-0.3526,0-0.6839-0.13727-0.93312-0.38666c-0.24922-0.24922-0.38666-0.58052-0.38666-0.93312
      c0-0.35261,0.13727-0.6839,0.38666-0.93312c0.24922-0.24922,0.58051-0.38666,0.93312-0.38666
      c0.35243,0,0.6839,0.13727,0.93312,0.38666C17.73417,45.63581,17.73417,46.47305,17.21967,46.98755z"/>
  </g>
</g>
<g>
  <g>
    <path fill="#fff" d="M77.58629,43.32003c-0.73036-0.73054-1.70156-1.13291-2.73475-1.13291c-1.03302,0-2.00404,0.40221-2.73474,1.13274
      c-1.5077,1.50787-1.5077,3.96127,0,5.46914c0.73054,0.73054,1.70172,1.13274,2.73474,1.13274
      c1.03319,0,2.00421-0.40221,2.73457-1.13256c0.73054-0.73036,1.13274-1.70156,1.13274-2.73457
      S78.31664,44.05039,77.58629,43.32003z M75.78467,46.98772c-0.24922,0.24921-0.58052,0.38649-0.93312,0.38649
      c-0.35243,0-0.68391-0.13727-0.93312-0.38649c-0.5145-0.5145-0.5145-1.35174,0-1.86625
      c0.24921-0.24921,0.5807-0.38666,0.93312-0.38666c0.35261,0,0.6839,0.13727,0.9333,0.38666
      c0.24921,0.24922,0.38648,0.58052,0.38648,0.93312C76.17133,46.40686,76.03423,46.73833,75.78467,46.98772z"/>
  </g>
</g>
<g>
  <g>
    <path fill="#fff" d="M72.53941,0.56693L61.70208,6.39831c-0.56974,0.31087-1.00898,0.81163-1.23715,1.42158
      c-0.22816,0.60995-0.22541,1.27605,0.00043,1.88452l1.5454,4.08482c-0.72028-0.0679-1.44617-0.22859-2.16219-0.49644
      c-1.7326-0.64812-3.15412-1.80463-3.99482-3.24772c-0.79866-1.3669-0.97219-2.84256-0.4894-4.13318
      c1.0317-2.75803,4.71805-3.93857,8.22746-2.62579c0.58343,0.21825,1.23934-0.08054,1.45759-0.66397l0,0
      c0.21825-0.58343-0.08054-1.23934-0.66397-1.45759c-4.67627-1.74927-9.67445,0.02885-11.14264,3.95373
      c-0.72748,1.94476-0.49487,4.09753,0.65225,6.06838c1.10508,1.89467,2.93227,3.3944,5.15991,4.2277
      c1.25526,0.46956,2.55229,0.69275,3.82814,0.67624l1.93507,5.11735c0.48819,1.28099,1.49976,2.29423,2.78154,2.77371
      l19.041,7.12274c2.93483,1.09784,6.21441-0.39609,7.31225-3.33092l4.87746-13.03876
      c1.09784-2.93483-0.3961-6.2144-3.33092-7.31225L76.45847,0.29974C75.1767-0.17974,73.74847-0.07916,72.53941,0.56693z
       M94.70586,9.54404c1.76797,0.66135,2.66433,2.6291,2.00298,4.39707l-4.88077,13.0476
      c-0.66135,1.76797-2.6291,2.66433-4.39706,2.00298l-19.041-7.12274c-0.67183-0.25131-1.20802-0.78442-1.46152-1.45363
      l-1.75241-4.63587c0.18111-0.05317,0.36224-0.10634,0.54335-0.15951c2.15898-0.73413,3.74737-2.2057,4.47485-4.15047l0,0
      c0.21825-0.58343-0.08054-1.23934-0.66397-1.45759c-0.58343-0.21825-1.23934,0.08054-1.45759,0.66397
      c-0.48609,1.29946-1.5822,2.29011-3.08189,2.79725c-0.20541,0.06424-0.41082,0.12847-0.62177,0.18056l-1.79337-4.74188
      c-0.04649-0.11816-0.0278-0.22201-0.00134-0.29273c0.02645-0.07072,0.08051-0.16134,0.19313-0.21998l10.83734-5.83138
      c0.63048-0.33853,1.38491-0.38885,2.05673-0.13754l19.04101,7.12274L94.70586,9.54404z"/>
    <path fill="#fff" d="M80.50817,13.9874l-0.87298,2.33372c-0.30753,0.82211-1.23067,1.24262-2.05277,0.93509
      c-0.82211-0.30753-1.24262-1.23067-0.9351-2.05277l1.53764-4.11052c0.21825-0.58343-0.08054-1.23934-0.66397-1.45759
      c-0.58343-0.21825-1.23935,0.08054-1.45759,0.66397l-0.70434,1.88289l-1.37902-0.51585
      c-0.58343-0.21825-1.23934,0.08054-1.45759,0.66397c-0.21825,0.58343,0.08054,1.23934,0.66397,1.45759l1.37901,0.51585
      l-0.03968,0.10608c-0.74732,1.9978,0.27407,4.22394,2.26303,4.96795c1.9978,0.74733,4.22394-0.27407,4.96796-2.26303
      l0.87298-2.33372c0.30753-0.8221,1.23067-1.24262,2.05277-0.93509c0.82211,0.30753,1.24261,1.23067,0.93509,2.05277
      l-1.5674,4.19008c-0.21825,0.58343,0.08054,1.23934,0.66397,1.45759c0.58343,0.21824,1.23934-0.08054,1.45759-0.66397
      l0.7341-1.96244l1.40553,0.52577c0.58343,0.21824,1.23934-0.08054,1.45759-0.66397s-0.08054-1.23934-0.66397-1.45759
      l-1.40553-0.52577l0.0463-0.12376c0.00331-0.00884,0.00661-0.01768,0.00993-0.02652
      c0.71088-1.9812-0.29945-4.18304-2.27957-4.92375C83.47832,10.97704,81.25219,11.99844,80.50817,13.9874z"/>
  </g>
</g>
</svg>
<!-- <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10px" height="10px" viewBox="5.5 105.5 10 10" enable-background="new 5.5 105.5 10 10" xml:space="preserve" style="width: 24px;height: auto;display: block;float: right;padding: 5px 0;">
<g>
<path fill="#FFFFFF" d="M11.44,111.192c-0.087,0-0.157,0.027-0.209,0.083c-0.053,0.055-0.081,0.129-0.084,0.223v0.222
c0,0.085,0.029,0.159,0.087,0.223c0.058,0.064,0.129,0.096,0.212,0.096c0.176,0,0.271-0.083,0.286-0.249l0.003-0.278
c0-0.095-0.026-0.172-0.079-0.231C11.602,111.221,11.53,111.192,11.44,111.192z"/>
<path fill="#FFFFFF" d="M9.849,109.446v-0.162c0-0.094-0.025-0.171-0.076-0.231c-0.051-0.06-0.122-0.091-0.215-0.091
c-0.089,0-0.16,0.029-0.212,0.088c-0.053,0.058-0.079,0.138-0.079,0.239v0.203c0,0.094,0.026,0.17,0.079,0.228
c0.053,0.058,0.125,0.088,0.218,0.088C9.754,109.808,9.849,109.687,9.849,109.446z"/>
<path fill="#FFFFFF" d="M15.281,110.082l-5.101-4.283c-0.246-0.228-2.793-0.104-3.995-0.032c-0.343,0.021-0.621,0.319-0.619,0.663
c0.007,0.943,0.032,2.72,0.123,3.646c0.034,0.342,0.349,0.776,0.609,1.002l4.637,4.038c0.329,0.305,0.843,0.286,1.151-0.042
l2.958-3.542C15.351,111.2,15.609,110.387,15.281,110.082z M7.894,108.042c-0.259,0.278-0.693,0.294-0.972,0.036
c-0.278-0.258-0.294-0.693-0.036-0.972c0.259-0.278,0.694-0.294,0.973-0.036C8.136,107.33,8.152,107.764,7.894,108.042z
M8.677,109.476v-0.193c0-0.245,0.08-0.442,0.239-0.593c0.16-0.15,0.373-0.226,0.642-0.226c0.272,0,0.487,0.075,0.645,0.224
c0.158,0.15,0.237,0.352,0.237,0.608v0.196c0,0.245-0.079,0.441-0.237,0.59c-0.158,0.149-0.371,0.223-0.639,0.223
c-0.266,0-0.481-0.074-0.643-0.222C8.758,109.936,8.677,109.734,8.677,109.476z M9.31,111.97l1.933-3.095l0.427,0.215l-1.933,3.095
L9.31,111.97z M12.323,111.72c0,0.247-0.079,0.444-0.237,0.593c-0.158,0.149-0.372,0.223-0.642,0.223
c-0.267,0-0.481-0.074-0.643-0.222c-0.162-0.148-0.243-0.35-0.243-0.608v-0.196c0-0.247,0.08-0.444,0.241-0.593
c0.16-0.149,0.374-0.223,0.64-0.223c0.27,0,0.485,0.073,0.644,0.22c0.16,0.147,0.239,0.352,0.239,0.615V111.72z"/>
</g>
</svg> -->
      </div>
      <div class="media-body row">
        <div class="col-12 col-sm-12 col-md-12">
          <h4 class="media-heading text-white textpromo" style="padding-left:10px;">¡Increíbles descuentos! + 12 MSI</h4>
          <h6 class="textspan text-white"></h6>
        </div>
        <!-- <div class="col-xs-4 col-sm-3 col-md-3">
        <a href="https://ahorraseguros.mx/seguros-de-autos/comparar-seguros-de-autos/" style="border:none;text-align:center;margin:0 auto;display:block;background-color:#fff;color:#0569ff;padding:6px;margin-top:5px;border-radius:5px;text-decoration:none;">Cotizar <i class="fa fa-chevron-right"></i></a>
      </div> -->
      </div>
      
      </div>
  </div>
    </div>
  </div>
  </div>
</div>
</div>
</template>
<script>
</script>
<style scoped="">
.bgalert{background-color: #3e7afb;}
.close span { }
.btn-bn-fin {font-weight: 500;border-color: #fff;padding: 2px 12px;font-size: 14px;line-height: 1.5;border-radius: .25rem;
opacity: .8;}
.fon13{font-size: 14px;color: white;letter-spacing: 2px;/* */text-transform:uppercase;opacity:1;font-weight:600;letter-spacing:0;}
h5{font-size: 12px;margin-top: 7px;font-weight: 700;color: white;}
.styleclose{/*margin-top: 10px;*/color:#fff;}
.fixedtext{margin-left: 70px;}
.imgstyle{margin-top:0px;display: block;/*position: absolute;*/width:auto!important;padding:3px 0 5px;}
h4.textpromo{font-size:14px!important;font-weight:600;color:#fff;margin-bottom:0;}
span.textspan{font-size:12px;color:white;margin-top:-6px;color:#fff;line-height:1.5;}
.alert1 {position: relative;padding: 0;margin-bottom: 0px;margin-top: 0;border: 1px solid transparent;border-radius: 0rem;}
.m0{padding-left: 0;padding-right: 0;}
.padd0{padding: 0;}
.f10{font-size: 10px;}
.promo {top: 0px;width: 100%;z-index: 999;color: #777;padding-left: 46px;padding-right: 46px;}
.f10{font-size: 10px;margin-top: 15px;}
.stylepromo{margin-bottom: -8px;font-size: 10px;margin-top: 2px;}
.fontclose{font-size: 22px;}
/*.bgalert{background:linear-gradient(to right, #3690ef 0%, #0569ff 80%)}*/
.alert{padding:0!important;margin-bottom: 0;}
.styleclosemovile{color: white;opacity: .8;margin-right: -23px;}
@media (max-width: 768px) and (min-width: 600px){.alert{background-color: transparent;}}
@media (max-width: 599px) and (min-width: 481px){.alert{background-color: transparent;}}
@media (max-width: 480px) and (min-width: 320px){
.promo{padding-left: 0px;padding-right: 0px;}
.f10{font-size: 10px;margin-top: 15px;}
.stylepromo{margin-bottom: -8px;font-size: 10px;margin-top: 2px;}
.imgstyle{margin-top:0px;display: block;/*position: absolute;*/width:auto!important;padding:5px 0 5px;}
h4.textpromo{margin-top:5px!important;font-size:14px;}
span.textspan{font-size:12px;line-height:1.5;display:inline-block;}
}
@media (max-width: 320px) and (min-width: 280px){
.promo{padding-left: 0px;padding-right: 0px;}
.f10{font-size: 10px;margin-top: 15px;}
.stylepromo{margin-bottom: -8px;font-size: 10px;margin-top: 2px;}
h4.textpromo{margin-top: 5px;font-size:12px;}
.imgstyle{margin-top:0px;display: block;/*position: absolute;*/width:auto!important;padding:5px 0 5px;}
span.textspan{font-size:10px;line-height:1.5;display:inline-block;}
}
button.close{color:#fff!important;opacity:1!important;}
</style>
