<template>
  <div v-show="!this.showBottonAutoBack == 1">
    <a id="btnTop" class="botonTop font-weight-bold" href="#Top">
      <i class="fa fa-chevron-up"></i>
      <span> Ir Arriba</span>
    </a>
  </div>
</template>
<script>
export default {
  data() {
    return {
      showBottonAutoBack: 1
    };
  },
  mounted: function() {
    window.addEventListener("scroll", () => {
      var scrollPos = window.scrollY;
      var winHeight = window.innerHeight;
      var docHeight = document.documentElement.scrollHeight;
      var perc = (100 * scrollPos) / (docHeight - winHeight);
      if (perc > 80) {
        this.showBottonAutoBack = 0;
      } else {
        this.showBottonAutoBack = 1;
      }
    });
  }
};
</script>
<style>

</style>