<template>
    <div class="container-fluid">
        <div class="row">
             <div class="col-12 px-0">
            <div class="container">
                <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <a class="navbar-brand px-0 float-left" href="https://ahorraseguros.mx/" target="_blank">
                <img src="/img/ahorra-seguros-mx-2019-blanco.svg" class="logo-ahorra" alt="Ahorra seguros">
            </a>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 btn-info-header text-white">
            <span class=" float-right">
               <a class="navbar-text d-block no-text-decoration" :href="'tel:55'+$store.state.config.telefonoAS" rel="nofollow" role="button" >
                   <span class="d-inline-block span-svg">
                      <img src="/img/phone-icon-01.gif" alt="Contáctanos" class="img-phone">
                 </span>
                   <span class="d-inline-block text-white horarios  pb-1">
                        <span class="d-block atencion">
                                Lun a Sab/8am-9pm
                        </span>
                        <span class="d-block telefono pt-0">
                            <span class="font-weight-bold text-center">
                              (55){{ this.$store.state.config.telefonoAS}}
                            </span>
                        </span>
                   </span>
                </a>
            </span>
            </div>
            </div>
            </div>
            </div>
        </div>
         <!-- <tabla v-show="this.$store.state.formData.precio === 0 || this.$store.state.formData.precio === null || this.$store.state.formData.precio != ''" /> -->
    </div>
</template>