<template>
    <div class="container-fluid">
        <div class="row">
             <div class="col-12 px-0">
            <div class="container">
                <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <a class="navbar-brand px-0 float-left" href="https://ahorraseguros.mx/" target="_blank">
                <img src="/img/ahorra-seguros-mx_2019_azul.jpg" class="logo-ahorra img-fluid" alt="Ahorra seguros">
            </a>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 btn-info-header">
            <span class=" float-right" style="border: 2px solid #044f99; border-radius:50px;">
               <a class="navbar-text d-block no-text-decoration" :href="'tel:55'+$store.state.config.telefonoAS" rel="nofollow" role="button" >
                   <span class="d-inline-block span-svg">
                      <img src="/img/phone-icon-01.gif" alt="Contáctanos" class="img-phone">
                      
                     <!--   <svg class="svg-inline--fa fa-phone fa-w-16 fa-2x text-success" data-fa-transform="shrink-8" data-fa-mask="text-white fas fa-circle" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><defs><clipPath id="clip-xPksYjwPVksy"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></clipPath><mask x="0" y="0" width="100%" height="100%" id="mask-C3W0E8DuoBng" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"><rect x="0" y="0" width="100%" height="100%" fill="white"></rect><g transform="translate(256 256)"><g transform="translate(0, 0)  scale(0.5, 0.5)  rotate(0 0 0)"><path fill="black" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z" transform="translate(-256 -256)"></path></g></g></mask></defs><rect fill="currentColor" clip-path="url(#clip-xPksYjwPVksy)" mask="url(#mask-C3W0E8DuoBng)" x="0" y="0" width="100%" height="100%"></rect></svg> <i class="fas fa-phone fa-2x text-success" data-fa-transform="shrink-8" data-fa-mask="text-white fas fa-circle"></i> -->
                 </span>
                   <span class="d-inline-block text-white horarios  pb-1" style="color:#044f99!important;">
                        <span class="d-block atencion">
                                Lun a Sab/8am-9pm
                        </span>
                        <span class="d-block telefono pt-0">
                            <span class="font-weight-bold text-center">
                                  (55){{$store.state.config.telefonoAS}}
                            </span>
                        </span>
                   </span>
                </a>
            </span>
            </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</template>