<template>
<div class="container mt-3 promocard">
    <div class="row">
        <div class="col-12">
        <div class="card shadow-cards">
            <div class="card-body card-body-ajustes-promo">
                    <!-- Contenido nuevo  -->
                    <div class="w-100"></div>
                    <div class="row line-height-1">
                        <div class="col-6 col-sm-12 col-md-3 col-lg-4 col-xl-4 text-center mt-0 p-2 d-none d-sm-none d-md-block d-lg-block d-xl-block">
                            <img src="/img/ahorra-seguros-mx_2019_azul.jpg" alt="Ahorra Seguros" class="img-fluid height80">
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center mt-1">
                            <img src="/img/icons-mejor.jpg" alt="Mejor Seguro para tu auto Atlas" class="img-fluid height90">
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center mt-1">
                            <img src="/img/icons-recibe.jpg" alt="Recibe tu poliza de seguros Atlas" class="img-fluid height90">
                        </div>
                    </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>

    
</template>