<template>
  <div id="botonTop">
    <A />
    <!--<Header />-->
    <Modal />
    <Btn />
    <nuxt />
    <!--<footerComponent />-->
  </div>
</template>
<script>
import A from "~/components/alerta/controller.vue";
//import B from "~/components/common/alertaSegObli.vue";
//import Header from "~/components/common/Header.vue";
import Modal from "~/components/utilities/modal.vue";
import Btn from "~/components/common/btnTop.vue";
export default {
  created: function(){
    this.$store.state.config.promocion = true; //CAMBIA DE ALERTA DEFAULT A PROMO
  },
  components: {
    A,
    //Header,
    Modal,
    Btn,
  }
};
</script>
