<template>
  <div>
    <headerwhite-Component></headerwhite-Component>
    <div class="container pCero px-1 px-sm-2 px-md-4 px-lg-5 px-xl-5 mt-3 bg-gray">
    <div class="card shadow-cards bg-accept">
        <div class="card-body pt-1 pb-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <div class="media pb-1 text-left">
                            <img class="mr-2 d-none d-sm-none d-md-block" src="/img/team.svg" height="60" alt="Seguro de auto">
                            <div class="media-body align-self-center">
                                        <span id="graciasAutos" class="font-weight-bold mt-0 line-height-1 h5 gretting font-color">
                                            Hola {{$store.state.formData.nombre}}, encontramos el mejor precio del seguro de tu auto con {{$store.state.config.aseguradora}}.
                                        </span>
                            </div>
                        </div>
                          <div class="media pb-1">
                            <img class="mr-2 d-none d-sm-none d-md-block im-c" src="/img/car.svg" height="60" alt="carro">
                            <div class="media-body d-md-block">
                                <p class="text-justify font-weight-normal">
                                  {{$store.state.formData.detalle}}
                                </p>
                            </div>
                        </div>
                        <div class="media pb-1">
                            <img class="mr-2" src="/img/asesor_logo.png" height="30" alt="Call">
                            <div class="media-body gretting">
                                <p class="text-left" style="font-size:12px">
                                    Un  asesor experto en {{$store.state.config.aseguradora}} se comunicará contigo a la brevedad para asesorarte de forma gratuita. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<tabla v-show="this.$store.state.formData.precio === 0 || this.$store.state.formData.precio === null || this.$store.state.formData.precio != ''" />
</div>
</template>

<script>
import tabla from "~/components/utilities/tabla.vue";
import rest from "~/components/utilities/rest.vue";
import headerwhiteComponent from "~/components/common/headerComponent-white.vue";
export default {
  layout: "thanks",
  created: function() {
    this.$store.state.config.aseguradora= "ELPOTOSI";
    this.$store.state.config.img = "";

    this.$store.state.config.dominio = "elpotosi.ahorraseguros.mx";
    this.$store.state.config.domV2 = "";
    this.$store.state.config.domV3 = "";

    // Cotizacion
    if (this.$store.state.formData.nombre != "") {
      this.$store.state.config.loading = true;
      if (this.$store.state.config.cotizacion) {
        this.$store.commit("cotizar");
      } else {
        this.$store.commit("saveData");
      }
    } else {
      //this.$router.replace({ path: "/error/" });
    }
  },
  components: {
    tabla,
    rest,
    headerwhiteComponent
    //Contenido
  },
  head() {
    return {
     title: "EL POTOSI",
      meta: [ 
      /*  {hid: "keywords", name: "keywords", content:"EL POTOSI, Seguros EL POTOSI, EL POTOSI Seguros, EL POTOSI Seguros Autos, Seguros de autos EL POTOSI, Seguros EL POTOSI Autos, Seguros para autos EL POTOSI, Seguros EL POTOSI en México, Seguros EL POTOSI DF, EL POTOSI Seguros México, EL POTOSI Seguros CDMX, Seguro Familiar, Seguro de Vida, Seguro de Gastos Médicos, Seguro de Hogar, Seguro de pyme"},*/
        {hid: "description", name: "description", content:"Cotiza Seguros de auto INBURSA en AhorraSeguros.mx. "},
        {hid: "robots", name: "robots", content: "index, follow" },
        {hid: "author",  name: "author", content: "@GlousMx"},
        {hid: "sitemap", rel: "sitemap", type: "application/xml", title: "sitemap", href: "sitemap.xml"},
        {hid: "canonical",rel: "canonical",href: "https://elpotosi.ahorraseguros.mx/thank-you"}
      ]
    };
  }
};
</script>