<<<<<<< Updated upstream
<template>
  <div>
    <!-- <A />
    <B />
    <C /> -->
  </div>
</template>
<script>
// import A from "~/components/alerta/default.vue";
// import B from "~/components/alerta/alert-enero.vue";
// import C from "~/components/alerta/alert-hot.vue";
export default {
  components: {
    // A,
    // B, 
    // C
  },
  created: function() {
    this.$store.state.config.alert1 = false;
    this.$store.state.config.alert2 = false;
    this.$store.state.config.alert3 = false;

    this.$store.state.config.desc = "";
    this.$store.state.config.msi = "";
  },
  mounted() {
    this.fecha();
  },
  methods: {
    fecha: function() {
      var fecha = new Date();
      var dia = fecha.getDate();
     if (dia >= 7 && dia <= 30) {
        this.$store.state.config.pnormal = true; 
        this.$store.state.config.desc = "25% de descuento";
        this.$store.state.config.msi = " + 6 y 12 MSI";
        console.log("default");
      }
      if (dia >= 31 && dia <= 31) {
        this.$store.state.config.alert1 = true;
        this.$store.state.config.desc = "25% de descuento";
        this.$store.state.config.msi = " + 6 y 12 MSI";
        console.log("Happy Day");
      }
      // if (dia >= 23 && dia <= 31 || dia >= 1 && dia <= 1) {
      //   this.$store.state.config.alert2 = true;
      //   this.$store.state.config.desc = "40% de descuento";
      //   this.$store.state.config.msi = " + 6 y 12 MSI";
      //   console.log("alerta Hot");
      // }
     
      console.log(dia);
    }
  }
};
</script>
<style scoped>
.alertaColor {
  background: #dd1e29 ;
  /* background: #0066b9 !important; */
}
=======
<template>
  <div>
    <A />
    <B />
    <C />
  </div>
</template>
<script>
import A from "~/components/alerta/default.vue";
import B from "~/components/alerta/alert-enero.vue";
import C from "~/components/alerta/alert-hot.vue";
export default {
  components: {
    A,
    B, 
    C
  },
  created: function() {
    this.$store.state.config.alert1 = false;
    this.$store.state.config.alert2 = false;
    this.$store.state.config.alert3 = false;

    this.$store.state.config.desc = "";
    this.$store.state.config.msi = "";
  },
  mounted() {
    this.fecha();
  },
  methods: {
    fecha: function() {
      var fecha = new Date();
      var dia = fecha.getDate();
     if (dia >= 1 && dia <= 15) {
        this.$store.state.config.pnormal = true; 
        this.$store.state.config.desc = "25% de descuento";
        this.$store.state.config.msi = " + 6 y 12 MSI";
        console.log("default");
      }
      if (dia >= 16 && dia <= 21) {
        this.$store.state.config.alert1 = true;
        this.$store.state.config.desc = "25% de descuento";
        this.$store.state.config.msi = " + 6 y 12 MSI";
        console.log("Happy Day");
      }
      if (dia >= 31 && dia <= 31 ) {
        this.$store.state.config.alert2 = true;
        this.$store.state.config.desc = "40% de descuento";
        this.$store.state.config.msi = " + 6 y 12 MSI";
        console.log("alerta Hot");
      }
     
      console.log(dia);
    }
  }
};
</script>
<style scoped>
.alertaColor {
  background: #dd1e29 ;
  /* background: #0066b9 !important; */
}
>>>>>>> Stashed changes
</style>