<template>
    <!-- DEFAULT -->
  <div id="zaid" class="container-fluid alertaColor">
    <div v-if="$store.state.config.pnormal === true" class="alert py-0 my-0" role="alert">
      <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="x" onClick="document.getElementById('zaid').style.display='none'">&times;</span>
          </button>
          <div class="row">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve"><style type="text/css">.st0{fill:#FFFFFF;}</style><g><path class="st0" d="M6.05464,5.39757c-0.11977,0-0.22073,0.04118-0.30275,0.12286C5.66947,5.60286,5.62863,5.70381,5.62863,5.82359c0,0.11983,0.04084,0.22079,0.12326,0.30281c0.08202,0.08208,0.18298,0.12326,0.30275,0.12326c0.11983,0,0.22073-0.04118,0.30281-0.12326c0.08202-0.08202,0.12326-0.18298,0.12326-0.30281c0-0.11977-0.04124-0.22073-0.12326-0.30315C6.27537,5.43876,6.17448,5.39757,6.05464,5.39757z"/><path class="st0" d="M4.10925,4.42256c0.08208-0.08208,0.12292-0.18298,0.12292-0.30321c0-0.11977-0.04084-0.22073-0.12292-0.30275C4.02723,3.73451,3.92593,3.69333,3.8061,3.69333S3.58537,3.73451,3.50329,3.8166C3.42127,3.89862,3.38002,3.99957,3.38002,4.11935c0,0.12023,0.04124,0.22113,0.12326,0.30321C3.58537,4.50458,3.68627,4.54542,3.8061,4.54542S4.02723,4.50458,4.10925,4.42256z"/><path class="st0" d="M9.04357,0.56404C7.91715,0.4966,5.53024,0.38037,5.29968,0.59401l-4.7804,4.01382C0.21189,4.89365,0.45373,5.65554,0.74138,5.9667l2.77209,3.31936c0.28868,0.30739,0.77035,0.32518,1.07866,0.03935L8.9377,5.54126c0.24367-0.21181,0.53887-0.61855,0.57073-0.93903C9.59371,3.7344,9.6171,2.06911,9.62368,1.18539C9.62557,0.86302,9.36503,0.58372,9.04357,0.56404z M3.46285,4.93146C3.35732,4.88558,3.26408,4.82244,3.18355,4.7419c-0.08048-0.08054-0.14368-0.17337-0.1891-0.2793C2.94857,4.35707,2.92587,4.24267,2.92587,4.11935c0-0.12286,0.02271-0.23726,0.06858-0.34319c0.04542-0.10559,0.10862-0.19877,0.1891-0.2793c0.08054-0.08054,0.17377-0.14328,0.2793-0.18916C3.56878,3.26188,3.68324,3.23912,3.8061,3.23912c0.12326,0,0.23766,0.02277,0.34325,0.06858c0.10553,0.04587,0.19877,0.10862,0.2793,0.18916c0.08048,0.08054,0.14368,0.17371,0.1895,0.2793c0.04547,0.10593,0.06858,0.22033,0.06858,0.34319c0,0.12332-0.02311,0.23772-0.06858,0.34325c-0.04582,0.10593-0.10902,0.19877-0.1895,0.2793c-0.08054,0.08054-0.17377,0.14368-0.2793,0.18956C4.04376,4.97687,3.92936,4.99998,3.8061,4.99998C3.68324,4.99998,3.56878,4.97687,3.46285,4.93146z M4.147,6.7986l-0.3929-0.17989l1.96924-3.47432L6.1163,3.32428L4.147,6.7986zM6.86635,6.16684C6.82088,6.27243,6.75768,6.36561,6.6772,6.44614C6.59666,6.52668,6.50343,6.58982,6.39789,6.6353C6.29196,6.68111,6.17756,6.70388,6.05464,6.70388c-0.12286,0-0.23766-0.02277-0.34319-0.06858c-0.10559-0.04547-0.19882-0.10862-0.2793-0.18916c-0.08054-0.08054-0.14368-0.17371-0.18916-0.2793C5.19718,6.06091,5.17401,5.94651,5.17401,5.82359c0-0.12326,0.02317-0.23726,0.06898-0.34319c0.04547-0.10559,0.10862-0.19877,0.18916-0.2793c0.08048-0.08054,0.17371-0.14368,0.2793-0.18956c0.10553-0.04542,0.22033-0.06852,0.34319-0.06852c0.12292,0,0.23732,0.02311,0.34325,0.06852c0.10553,0.04587,0.19877,0.10902,0.2793,0.18956c0.08048,0.08054,0.14368,0.17371,0.18916,0.2793c0.04582,0.10593,0.06892,0.21993,0.06892,0.34319C6.93528,5.94651,6.91217,6.06091,6.86635,6.16684z M8.35289,2.72982C8.09144,2.9716,7.68475,2.95655,7.442,2.69607C7.20022,2.43553,7.21521,2.02879,7.47478,1.78512c0.26151-0.24178,0.66917-0.22674,0.91186,0.03375C8.62842,2.08032,8.61343,2.48798,8.35289,2.72982z"/></g></svg>
            <div class="media-body">
              <p>Obtén {{$store.state.config.desc}}  {{$store.state.config.msi}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.row {
  -webkit-box-align: center;
  align-items: center;
}
.alertaColor {
  padding: 0;
  margin: 0;
}
p {
  color: #fff;
  font-weight: bold;
  width: 96%;
  margin: 0;
  font-size: 20px;
}
h6 {
  color: #fff;
  width: 100%;
  margin-bottom: 4px;
  font-size: 12px;
}
.alertaColor svg {
  margin: 0 5px 0 0;
  width: 40px;
  padding: 0;
}
.alertaColor button span, .alertaColorPromo button span {
  z-index: 1;
  position: absolute;
  color: #fff;
  right: 0;
  font-size: 35px;
}
.close {
  opacity: 1 !important;
}

@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 426px) and (max-width: 767px) {
}
@media (min-width: 376px) and (max-width: 425px) {
  p {
    font-size: 17px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  p {
    font-size: 15px;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  p {
    font-size: 15px;
  }
}
</style>