<template>
  <div class="card">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-4 col-lg-3 col-xl-3 py-2 py-md-0 p-lg-3 text-center">
        <img src="/img/ELPOTOSI.svg" alt="Aseguradora elpotosi" class="logo-elpotosi">
      </div>
      <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2  text-right px-lg-1 mt-3 mt-md-3 mt-lg-4 mt-lg-3 pr-0 pl-0">
        <span>
            <img src="/img/tag01.jpg" alt="Descuentos Increíbles" class="svg-tag"> 
        </span>    
      </div>
      <div class="col-7 col-sm-6 col-md-6 col-lg-6 col-xl-6 px-0 text-left mt-2 mt-md-2 px-1">
          <p class="text-i  pr-0 mb-0"><strong>{{ this.$store.state.config.desc}}</strong> </p>
          <p class="text-p"> {{ this.$store.state.config.msi}}.  </p>
          <span class="text-muted font-size-1-5-rem d-none">Ahorra Seguros.Mx</span>
      </div>
    </div>  
  </div>
</template>


