<template>

<div class="container mt-3 contenido">
        <div class="card shadow-cards">
            <div class="card-body">
            <div class="container">
                <div class="media">
                  <!--  <img class="mr-2" src="https://ahorraseguros.mx/landings/img/aseguradora/AXA.png" height="50" alt="Seguro de auto">-->
                    <div class="media-body">
                        <h2 class="mt-0 display-5">
                            <strong class="color-landing-elpotosi title-content">Beneficios que cuidan por ti, sólo con {{this.$store.state.config.aseguradora}}</strong>
                            <span class="text-muted font-size-1-5-rem d-none">Ahorra Seguros.Mx</span>
                        </h2>
                    </div>
                </div>
                <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                   De las mayores preocupaciones que se llegan a tener es sobre el cuidado del
auto. Ya sea que te preocupe la inseguridad, el mal estado de las vialidades o la
deficiente educación vial, son motivos para inquietar más. Por eso en Seguros el
Potosí, con ayuda de Ahorra Seguros, te ofrecen en el Seguro de tu Auto los
mejores beneficios.
                </p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                Beneficios que cuidan de tu automóvil como si fuera de ellos. Pues en
Seguros de Autos El Potosí saben que cuando contratas un seguro buscas ya no
tener que ocuparte más en la protección de tu auto. Quieres conducir y ya.
                </p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                 Por eso las ventajas se ocupan de que consigas lo que pretendes. Y si
puedes ahorrarte unos pesos, qué mejor. Para que tanto tu patrimonio como tu
bolsillo estén de la mejor forma.
                </p>
                </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                 Te presentamos algunos beneficios:
                </p>
                </div>
    <ul class="fa-ul text-justify">
        <li>
           <span class="fa-li"><img src="img/flecha.gif" alt="beneficios" width="15"></span>
           <b> Auxilio vial. </b> Si por algún suceso te quedas varado en la calle, puedes solicitar
que te auxilien con lo que crees que necesites para hacer andar tu auto. Y sino,
también, tienes el traslado en grúa.
        </li>
        <li>
            <span class="fa-li"><img src="img/flecha.gif" alt="beneficios" width="15"></span>
            Gastos médicos al conductor y para sus acompañantes a causa de una
accidente de tránsito, los gasto que cubre son por hospitalización, médicos,
medicinas, terapias, etc..
        </li>
        <li>
            <span class="fa-li"><img src="img/flecha.gif" alt="beneficios" width="15"></span>
            Un amplio conjunto de ajustadores y talleres autorizados, que se encuentran
distribuidos por todo el territorio nacional, que puedes solicitar en caso de
siniestro.  
        </li>
        <li>
             <span class="fa-li"><img src="img/flecha.gif" alt="beneficios" width="15"></span>
            Repertorio de talleres mecánicos certificados y referencias médicas, para que
tanto tu familia como tu auto estén en las mejores manos.
        </li>
        <li>
            <span class="fa-li"><img src="img/flecha.gif" alt="beneficios" width="15"></span>
        Ayuda ante terceros al ser causante de un accidente; te respalda por daño de
propiedad y heridas a terceras personas.    

        </li>
        <li>
            <span class="fa-li"><img src="img/flecha.gif" alt="beneficios" width="15"></span>
    Presencia en todo el continente americano.
        </li>
    </ul>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    
</template>