<template>
 <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6 ml-md-auto ml-lg-auto ml-xl-auto px-0 px-sm-0 px-md-4 mt-1 mb-2 font-color">
     <div class="card card-form block-auto">
            <div class="card-body py-2 px-3">
  <form id="formcotizar" method="POST" action @submit.prevent="validateBeforeSubmit('formcotizar')">
    <p class="txtForm my-1 mt-3 font-weight-bold card-title color-landing-axa text-center fz-12">Ingresa los datos de tu automóvil AQUÍ</p>
    <div class="row">
      <!-- MARCA -->
      <div class="col-6 form">
        <select
          name="marca"
          id="marca"
          v-model="$store.state.formData.marca"
          v-validate="'required'"
          :class="{'input': true, 'is-invalid': errors.has('marca')}"
          class="custom-select"
          @change="getModelos()"
        >
          <option value>Auto</option>
          <option v-for="marca in formData.marcas" v-bind:key="marca.text">{{ marca.text }}</option>
        </select>
      </div>
  
      <!-- MODELO -->
      <div class="col-6 form">
        <select
          name="modelo"
          id="modelo"
          v-model="$store.state.formData.modelo"
          v-validate="'required'"
          :class="{'input': true, 'is-invalid': errors.has('modelo')}"
          class="custom-select"
          @change="getDescripciones()"
        >
          <option value>Modelo</option>
          <option v-for="modelo in formData.modelos" v-bind:key="modelo.text">{{ modelo.text }}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <!-- DESCRIPCION -->
      <div class="col-6 form">
        <select
          name="descripcion"
          id="descripcion"
          v-model="$store.state.formData.descripcion"
          v-validate="'required'"
          :class="{'input': true, 'is-invalid': errors.has('descripcion')}"
          class="custom-select"
          @change="getSubDescripciones()"
        >
          <option value>Submarca</option>
          <option
            v-for="descripcion in formData.descripciones"
            v-bind:key="descripcion.text"
          >{{descripcion.text}}</option>
        </select>
      </div>

      <!-- SUBDESCRIPCION -->
      <div class="col-6 form">
        <select
          name="subDescripcion"
          id="subDescripcion"
          v-model="$store.state.formData.subDescripcion"
          v-validate="'required'"
          :class="{'input': true, 'is-invalid': errors.has('subDescripcion')}"
          class="custom-select"
          @change="getDetalles()"
        >
          <option value>Descripción</option>
          <option
            v-for="subdescripcion in formData.subDescripciones"
            v-bind:key="subdescripcion.text"
          >{{subdescripcion.text }}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <!-- DETALLE -->
      <div class="col-12 form">
        <select
          name="detalleid"
          id="detalleid"
          v-validate="'required'"
          :class="{'input': true, 'is-invalid': errors.has('detalleid')}"
          class="custom-select"
          @change="detalleSelected"
        >
          <option value>Detalle del Auto</option>
          <option
            v-for="detalle in formData.detalles"
            v-bind:key="detalle.text"
            :value="detalle.id"
          >{{ detalle.text }}</option>
        </select>
      </div>
    </div>

     <div class="col-12 color-landing-axa datos-c font-weight-bold text-center fz-12">Datos del conductor</div>

    <div class="row">
      <!-- EDAD -->
      <div class="col-12 col-md-6 form">
        <select
          name="edad"
          id="edad"
          v-model="$store.state.formData.edad"
          v-validate="'required'"
          :class="{'input': true, 'is-invalid': errors.has('edad')}"
          class="custom-select"
          @change="calculaFechaNacimiento"
        >
          <option value>Edad del conductor</option>
          <option v-for="edad in formData.edades" v-bind:key="edad.id">{{ edad.text }}</option>
        </select>
      </div>

      <div class="col-12 col-md-6 form btn-group">
       <div class="row pt-2">
        <div class="col-6 custom-control custom-radio custom-control-inline mr-0 circ-m ">
           <input type="radio" class="custom-control-input" v-model="$store.state.formData.genero" id="gMasculino" value="M" name="genero" checked>
          <label class="custom-control-label form-check-label mt-1" for="gMasculino">Masculino</label>
        </div>

        <div class="col-6 custom-control custom-radio custom-control-inline mr-0">
          <input type="radio" class="custom-control-input" v-model="$store.state.formData.genero" name="genero" id="gFemenino" value="F" required >
          <label class="custom-control-label paddleft genero" for="gFemenino">Femenino</label>
        </div>
       </div>
      </div>
    </div>

      <div class="row">
      <!-- CODIGO POSTAL -->
      <div class="col-6 col-md-6 form">
        <input
          type="tel"
          name="codigoPostal"
          id="codigoPostal"
          v-model="$store.state.formData.codigoPostal"
          v-validate="{ required: true, numeric:true, max:5, min:5 }"
          onKeyPress="if(this.value.length === 5) return false;"
          class="form-control"
          :class="{'input': true, 'is-invalid': errors.has('codigoPostal') }"
          placeholder="Código Postal"
          @change="myFocus('nombre')"
        />
      </div>

      <!-- NOMBRE -->
      <div class="col-6 form">
        <input
          type="text"
          name="nombre"
          id="nombre"
          v-model="nombre"
          v-validate="{ required: true, alpha_spaces:true, min:3, max:50 }"
          class="form-control"
          :class="{'input': true, 'is-invalid': errors.has('nombre') }"
          placeholder="Escribe tu nombre"
          @change="myFocus('correo')"
        />
      </div>
    </div>

    <div class="row">
      <!-- CORREO -->
      <div class="col-12 col-md-6 form">
        <input
          type="email"
          name="correo"
          id="correo"
          v-model="correo"
          v-validate="{ email:true, required: true, min:8, max:50, regex: /^[\w\.]{2,30}@[a-zA-Z]{2,15}\.[a-z]{2,4}(\.[a-z]{2,2})?$/ }"
          class="form-control"
          :class="{'input': true, 'is-invalid': errors.has('correo') }"
          placeholder="Escribe tu email"
          @change="myFocus('telefono')"
        />
      </div>
      <!-- TELEFONO -->
      <div class="col-12 col-md-6 form">
        <input
          type="tel"
          name="telefono"
          id="telefono"
          v-model="telefono"
          onKeyPress="if(this.value.length === 10) return false;"
          v-validate="{ required: true, numeric:true, max:10, min:10}"
          class="form-control"
          :class="{'input': true, 'is-invalid': errors.has('telefono') }"
          placeholder="Escribe tu teléfono"
          @change="myFocus('checkbox1')"
        />
      </div>
    </div>
    <!-- CHECKBOX -->
    <div class="row">
      <div class="col-12">
        <div class="custom-control custom-checkbox checkBox text-center">
        <input type="checkbox" class="custom-control-input" id="checkbox1" checked/>
        <label class="custom-control-label" for="checkbox1">
          Acepto que he leído el
          <a
            href="/"
            class="priv"
            data-toggle="modal"
            data-target="#avisopriv">
            <b>Aviso de privacidad</b>
          </a>
        </label>
      </div>
      </div>
    </div>
    <!-- BOTON -->
    <button id="btnCotizarAuto" type="submit" data-loading-text="Cotizando tu auto..." class="btn btn-success btn-block font-weight-bold btn-cotizar">
      <div class="row justify-content-md-center">
        <div class="col-12 text-center px-0 ">
        <span class="cotizarGratis">
          <svg class="svg-inline--fa fa-car fa-w-16 fa-1x align-left mt-2" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="car" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
      <path fill="currentColor" d="M499.99 176h-59.87l-16.64-41.6C406.38 91.63 365.57 64 319.5 64h-127c-46.06 0-86.88 27.63-103.99 70.4L71.87 176H12.01C4.2 176-1.53 183.34.37 190.91l6 24C7.7 220.25 12.5 224 18.01 224h20.07C24.65 235.73 16 252.78 16 272v48c0 16.12 6.16 30.67 16 41.93V416c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-32h256v32c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-54.07c9.84-11.25 16-25.8 16-41.93v-48c0-19.22-8.65-36.27-22.07-48H494c5.51 0 10.31-3.75 11.64-9.09l6-24c1.89-7.57-3.84-14.91-11.65-14.91zm-352.06-17.83c7.29-18.22 24.94-30.17 44.57-30.17h127c19.63 0 37.28 11.95 44.57 30.17L384 208H128l19.93-49.83zM96 319.8c-19.2 0-32-12.76-32-31.9S76.8 256 96 256s48 28.71 48 47.85-28.8 15.95-48 15.95zm320 0c-19.2 0-48 3.19-48-15.95S396.8 256 416 256s32 12.76 32 31.9-12.8 31.9-32 31.9z"></path>
      </svg>
          Ver precio de mi seguro<svg class="svg-inline--fa fa-angle-right fa-w-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <i class="fas fa-angle-right"></i> --></span>
        </div></div></button>
    <div class="btnform">
    </div>
  </form>
    </div>
     </div>
 </div>
</template>
  
<script>
import marcasService from "~/plugins/marcas";
import modelosService from "~/plugins/modelos";
import descripcionesService from "~/plugins/descripciones";
import subdescripcionesService from "~/plugins/subdescripciones";
import detallesService from "~/plugins/detalles";

export default {
  props: {
    config: Object
  },
  data() {
    return {
      formData: {
        marcas: [],
        modelos: [],
        descripciones: [],
        subDescripciones: [],
        detalles: [],
        edades: [],
        telefono: ""
      },
      telefono: "",
      nombre: "",
      correo: ""
    };
  },

  watch: {
    telefono: function(val) {
      var regExp = /(.)\1{3}$/;
      var phone = regExp.exec(this.telefono);
      var ultimoCaracter = this.telefono.charAt(this.telefono.length - 1);

      if (
        this.telefono.charAt(this.telefono.length - 2) ==
          this.telefono.charAt(this.telefono.length - 1) - 1 &&
        this.telefono.charAt(this.telefono.length - 3) ==
          this.telefono.charAt(this.telefono.length - 1) - 2 &&
        this.telefono.charAt(this.telefono.length - 4) ==
          this.telefono.charAt(this.telefono.length - 1) - 3
      ) {
        this.telefono = this.telefono.substring(0, this.telefono.length - 1);
      } else {
        this.$store.state.formData.telefono = this.telefono;
      }

      if (!phone) {
        this.$store.state.formData.telefono = this.telefono;
      } else {
        this.telefono = this.telefono.substring(0, this.telefono.length - 1);
      }
    },
    nombre: function(val) {
      var regExp = /(.)\1{2}$/;
      var name = regExp.exec(this.nombre);
      var ultimoCaracter = this.nombre.charAt(this.nombre.length - 1);
      if (
              this.nombre.charAt(this.nombre.length - 2) ==
              this.nombre.charAt(this.nombre.length - 1) - 1 &&
              this.nombre.charAt(this.nombre.length - 3) ==
              this.nombre.charAt(this.nombre.length - 1) - 2 &&
              this.nombre.charAt(this.nombre.length - 4) ==
              this.nombre.charAt(this.nombre.length - 1) - 3
      ) {
        this.nombre = this.nombre.substring(0, this.nombre.length - 1);
      } else {
        this.$store.state.formData.nombre = this.nombre;

      }

      if (!name) {
        this.$store.state.formData.nombre = this.nombre;
      } else {
        this.nombre = this.nombre.substring(0, this.nombre.length - 1);
      }
    },
    correo: function(val) {
      var regExp = /(.)\1{2}$/;
      var mail = regExp.exec(this.correo);
      var ultimoCaracter = this.correo.charAt(this.correo.length - 1);
      if (
              this.correo.charAt(this.correo.length - 2) ==
              this.correo.charAt(this.correo.length - 1) - 1 &&
              this.correo.charAt(this.correo.length - 3) ==
              this.correo.charAt(this.correo.length - 1) - 2 &&
              this.correo.charAt(this.correo.length - 4) ==
              this.correo.charAt(this.correo.length - 1) - 3
      ) {
        this.correo = this.correo.substring(0, this.correo.length - 1);
      } else {
        this.$store.state.formData.correo = this.correo;

      }

      if (!mail) {
        this.$store.state.formData.correo = this.correo;
      } else {
        this.correo = this.correo.substring(0, this.correo.length - 1);
      }
    }
  },

  created: function() {
    this.formData.marcas.length = 0;
    this.formData.modelos.length = 0;
    this.formData.descripciones.length = 0;
    this.formData.subDescripciones.length = 0;
    this.formData.detalles.length = 0;
    this.formData.edades.length = 0;
    this.$store.state.formData.genero = 'M';
   // this.$store.state.formData.aseguradora = this.config.aseguradora;

    this.getMarcas();
    this.getEdades();
  },
  methods: {
    getMarcas: function() {
      marcasService
        //.search(this.$store.state.formData.aseguradora)
        //.then(resp => {
          this.formData.marcas = [
  {
    "id": "m100",
    "text": "NISSAN"
  },
  {
    "id": "m101",
    "text": "CHEVROLET"
  },
  {
    "id": "m102",
    "text": "VOLKSWAGEN"
  },
  {
    "id": "m103",
    "text": "HONDA"
  },
  {
    "id": "m104",
    "text": "KIA"
  },
  {
    "id": "m105",
    "text": "MAZDA"
  },
  {
    "id": "m106",
    "text": "TOYOTA"
  },
  {
    "id": "m0",
    "text": "ACURA"
  },
  {
    "id": "m1",
    "text": "ALFA ROMEO"
  },
  {
    "id": "m2",
    "text": "AUDI"
  },
  {
    "id": "m3",
    "text": "BAIC"
  },
  {
    "id": "m4",
    "text": "BMW"
  },
  {
    "id": "m5",
    "text": "BUICK"
  },
  {
    "id": "m6",
    "text": "CADILLAC"
  },
  {
    "id": "m7",
    "text": "CBO MOTORS"
  },
  {
    "id": "m9",
    "text": "CHRYSLER"
  },
  {
    "id": "m10",
    "text": "DODGE"
  },
  {
    "id": "m11",
    "text": "FIAT"
  },
  {
    "id": "m12",
    "text": "FORD"
  },
  {
    "id": "m13",
    "text": "GENERAL MOTORS"
  },
  {
    "id": "m14",
    "text": "GIANT MOTORS"
  },
  {
    "id": "m16",
    "text": "HUMMER"
  },
  {
    "id": "m17",
    "text": "HYUNDAI"
  },
  {
    "id": "m18",
    "text": "INFINITI"
  },
  {
    "id": "m19",
    "text": "ISUZU"
  },
  {
    "id": "m20",
    "text": "JAGUAR"
  },
  {
    "id": "m21",
    "text": "JEEP"
  },
  {
    "id": "m23",
    "text": "LAND ROVER"
  },
  {
    "id": "m24",
    "text": "LINCOLN"
  },
  {
    "id": "m26",
    "text": "MERCEDES BENZ"
  },
  {
    "id": "m27",
    "text": "MERCURY"
  },
  {
    "id": "m28",
    "text": "MINI COOPER"
  },
  {
    "id": "m29",
    "text": "MITSUBISHI"
  },
  {
    "id": "m31",
    "text": "PEUGEOT"
  },
  {
    "id": "m32",
    "text": "PIAGGIO"
  },
  {
    "id": "m33",
    "text": "PONTIAC"
  },
  {
    "id": "m34",
    "text": "PORSCHE"
  },
  {
    "id": "m35",
    "text": "RENAULT"
  },
  {
    "id": "m36",
    "text": "SAAB"
  },
  {
    "id": "m37",
    "text": "SEAT"
  },
  {
    "id": "m38",
    "text": "SMART"
  },
  {
    "id": "m39",
    "text": "SUBARU"
  },
  {
    "id": "m40",
    "text": "SUZUKI"
  },
  {
    "id": "m43",
    "text": "VOLVO"
  }
]
    },
    getModelos: function() {
      document.getElementById("modelo").focus();
      this.$store.state.formData.modelo = "";
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.subDescripcion = "";
      this.$store.state.formData.detalle = "";
      this.formData.modelos.length = 0;
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.formData.detalles.length = 0;
      modelosService
        .search(
          this.$store.state.formData.aseguradora,
          this.$store.state.formData.marca
        )
        .then(response => {
          this.formData.modelos = JSON.parse(response);
        });
    },
    getDescripciones: function() {
      document.getElementById("descripcion").focus();
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.subDescripcion = "";
      this.$store.state.formData.detalle = "";
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.formData.detalles.length = 0;
      descripcionesService
        .search(
          this.$store.state.formData.aseguradora,
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo
        )
        .then(response => {
          this.formData.descripciones = JSON.parse(response);
        });
    },
    getSubDescripciones: function() {
      document.getElementById("subDescripcion").focus();
      this.$store.state.formData.subDescripcion = "";
      this.$store.state.formData.detalle = "";
      this.formData.subDescripciones.length = 0;
      this.formData.detalles.length = 0;
      subdescripcionesService
        .search(
          this.$store.state.formData.aseguradora,
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo,
          this.$store.state.formData.descripcion
        )
        .then(response => {
          this.formData.subDescripciones = JSON.parse(response);
        });
    },

   
    getDetalles: function() {
      document.getElementById("detalleid").focus();
      this.$store.state.formData.detalle = "";
      this.formData.detalles.length = 0;
      detallesService
        .search(
          this.$store.state.formData.aseguradora,
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo,
          this.$store.state.formData.descripcion,
          this.$store.state.formData.subDescripcion
        )
        .then(response => {
          this.formData.detalles = JSON.parse(response);
        });
    },
    getTipos: function() {
       //document.getElementById("gMasculino").checked = true;
      // $('.gMasculino').prop('checked', true)

    },
    getEdades: function() {
      for (var i = 18; i < 100; i++) {
        this.formData.edades.push({
          id: i,
          text: i
        });
      }
    },
    detalleSelected(evt) {
      var index = evt.target.selectedIndex;
      this.$store.state.formData.detalleid = evt.target.options[index].value;
      this.$store.state.formData.detalle = evt.target.options[index].label;

      this.myFocus("edad");
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        document.getElementById("btnCotizarAuto").disabled = true;
        if (result) {
          document.getElementById("formcotizar").reset();
          $nuxt._router.push({
            path: "/thank-you/"
          });
        } else {
          document.getElementById("btnCotizarAuto").disabled = false;
        }
      });
    },
    myFocus: function(id) {
      document.getElementById(id).focus();
    },
    calculaFechaNacimiento() {
      this.$store.state.formData.fechaNacimiento = (
        new Date().getFullYear() -
        this.$store.state.formData.edad +
        "-01-01"
      )
        .toString()
        .toString("yyyy/MM/dd");
      this.myFocus("gMasculino");
    }
  },

  directives: {
    focus: {
      inserted: function(el) {
        el.focus();
      }
    }
  },
  mounted() {}
};
</script>
